//
//  Debug.xcconfig
//  TiketEventsMerchants
//
//  Created by Radhakrishna Pai on 22/05/23.
//  Copyright © 2023 Tiket.com. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

BASE_FE_URL = gatotkaca.$(inherited)
